.footer {
    overflow: hidden;
    padding: 13.18em 19.6em 3.95625em 8.62em;
    background: url('/img/footer/footer-bg.png') no-repeat;
    background-size: cover;
    color: #f5f5f5;
    max-height: 16em;   
  }
  
  .logo {
    height: 2.8em; /* Tamanho da logo */
  }
  
  .informacoes {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
  }
  
  .footer-titulo {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  
  .footer-dados i {
    font-family: "Montserrat", sans-serif;
    display: block;
    margin-bottom: 1em;
    font-size: 1.12em;
  }
  
  .footer-icones {
    width: 1.26em;
    height: 1.8em;
    margin: 0 5px;
  }
  
  /* Texto de direitos reservados */
  .footer p {
    margin: 11.56em 0;
  }