section {
    font-family: "DM Sans", sans-serif;
    margin: 1em 0 5.4em 5.18em;
}

/* descricoes */

a {
    font-family: "DM Serif Display", serif;
}

.descricao {
    font-size: 1rem;
}

/* cores */

.italico {
    font-style: italic;
    font-weight: 500;
}

.roxo {
    color: #704EEA;
    
}

.amarelo {
    color: #FFC62F;
}

.laranja {
    color: #F19436;
}

/* hero */

.hero {
    padding: 0 20.5em;
    background-image: url("/img/home/hero-bg.png");
    background-size: 99%;
    text-align: center;

}

.hero h1 {
    font-weight: 400;
    padding: 0;
    margin: 0;
    max-width: 41.75em;
    font-size: 3.6rem;
}

.hero div {
    padding: 2.6em 0 1em 0;
    margin-right: 7em; 
}

.hero p {
    padding: 3.3em 0 ;
}


/* botoes */

.saber-mais {
    padding: 0.625em 1.87em;
    border-radius: 50px;
    border: none;
    text-align: center;
    color: #FFFFFF;
    background-color: #704EEA;
}

.saber-mais:hover {
    cursor: pointer;
    
}

/* ferramentas */

.ferramentas {
    display: flex;
    flex-direction: column;
    padding-left: 4.2em
}

.ferramentas div {
    display: flex;
    justify-content: flex-start;
}

.ferramentas h2 {
    max-width: 348px;
    font-size: 1.5rem;
}

.ferramentas-titulo {
    margin-bottom: 3.75em;
}

.ferramenta {
    flex-direction: column;
    background-color: #704EEA;
    padding: 14.25em 5.37em 3.25em 2.43em;
    border-radius: 2.12em;
    color: #FFFDF2;
    margin: 2.7em 2.5em 0 0;
}
