body {
    font-family: "DM Sans", sans-serif;
}

section {
    margin: 1em 0 5.4em 5.18em;
}

/* descricoes */

span {
    font-family: "DM Serif Display", serif;
}

.descricao {
    font-size: 1rem;
}

/* cores */

.italico {
    font-style: italic;
    font-weight: 400;
}

.roxo {
    color: #704EEA;
    
}

.amarelo {
    color: #FFC62F;
}

.laranja {
    color: #F19436;
}

/* hero */

.hero {
    padding: 0 20.5em;
    background-image: url("/img/home/hero-bg.png");
    background-size: 99%;
    text-align: center;

}

.hero h1 {
    font-weight: 500;
    padding: 0;
    margin: 0;
    max-width: 41.75em;
    font-size: 3rem;
}

.hero div {
    padding: 2.6em 0 0 0;
    margin-right: 7em; 
    align-items: center;
}

.hero p {
    padding: 3em 0 2em 0;
}


/* botoes */

.saber-mais {
    padding: 0.625em 1.87em;
    border-radius: 50px;
    border: none;
    text-align: center;
    color: #FFFFFF;
    background-color: #704EEA;
}

.saber-mais:hover {
    cursor: pointer;
    
}

/* icones */

.icone-seta {
    height: 1.14em;
    margin: 0 3.12em 13em 3.12em;
}

/* ferramentas */

.ferramentas {
    display: flex;
    flex-direction: column;
    padding-left: 4.2em
}

.ferramentas div {
    display: flex;
    justify-content: flex-start;
}

.ferramentas h2 {
    max-width: 348px;
    font-size: 1.5rem;
}

.ferramentas-titulo {
    margin-bottom: 3.75em;
}

.ferramenta {
    flex-direction: column;
    background-color: #704EEA;
    padding: 13.25em 5.37em 3.25em 2.43em;
    border-radius: 2.12em;
    color: #FFFDF2;
    margin: 2.7em 2.5em 0 0;
}

/* equipe */

.equipe-container {
    background-image: url("/img/home/equipe-bg.png");
    background-size: 98%;
    background-repeat: no-repeat;
    background-color: #704EEA;
}

.equipe-container h2 {
    padding: 1.5em 7em 2.62em;
    font-weight: 500;
    text-align: center;
    font-size: 2.61rem;
    line-height: 69px;
    color: #FFFDF2;
}

.equipe-container i {
    font-weight: 600;
}

.membros {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 7.5em;
    padding-bottom: 3.75em;
}

.profissionais {
    display: flex;
    gap: 3.75em;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.profissional img {
    width: 8em;
}

.profissional p {
    font-size: 1rem;
    margin: 0.3em 0;
}

.profissional h3 {
    margin-top: 0.5em;
}

