.espacamento-header {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0 8.75em
  }
  
  .header {
    padding: 1.6875em 0;
  
  }
  
  .header ul {
    width: 28em;
    margin: 0.4em 0 0 0;
    padding: 0.93em 2.5em;
    background-color: #704EEA;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
  }

  .header a {
    font-weight: 800;
    text-decoration: none;
    color: #FFFFFF;
  }

  .header li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  
  header li:hover {
    cursor: pointer
  }