@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
    --roxo-principal: #704EEA;
    --lilas-secundaria: #DFC8FE;

    --amarelo-principal: #F19436;
    --amarelo-secundario: #FFD25B;
    --amarelo-areia: #FFF3A9;
    --cor-de-cobertura: rgba(255, 181, 85, 0.25);
    ;

  }

body {
    font-family: 'DM Sans', sans-serif;
  }

span{
    font-family: 'DM Serif Display', sans-serif;
    font-style: italic;
    font-weight: 400;
  }

.container{
  display: flex;
  background-image: url('../../img/home/hero-bg.png');
  background-size: 95%;
  flex-direction: column;
  align-items: center;
  height: 65vh;
  margin-top: 55px;
}
.titulo{
  text-align: center;
  font-size: 48px;
  line-height: 63.13px;
  font-weight: 600;
  text-align: center;
} 
.descricao {
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 7.5%;
}
section.card-gallery{
  left: 140px;
  display: grid;
  padding:  0 12em;
}
.amarelo{
    color: var(--amarelo-principal);
}

.roxo{
    color: var(--roxo-principal);
}

.subtitulo{
  font-weight: 600;
  font-size: 36px; 
  line-height: 52px;
  left: 100px;
}

.cards{
  display: flex;
  justify-content: center;
  gap: 35px;
}

.card-gallery .rectangle-divider {
  width: 60px;  
  height: 8px;  
  background-color: var(--amarelo-principal); 
}

.item{
  position: relative;
}

.item img{
  display: block;
  width: 360px; 
  height: 220px;
  border-radius: 35px;
  background-color: var(--cor-de-cobertura);
}

.item::before {
  content: '';
  position: absolute;
  width: 360px; 
  height: 220px;
  border-radius: 35px;
  background-color: var(--cor-de-cobertura); /* cor vermelha com transparência */
  pointer-events: none;
}

.item p {
  font-size: 24px ;
  font-weight: 700;
  margin-top: 10px;
  text-align: left;
  line-height: 32px;
}