@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
    --roxo-principal: #704EEA;
    --lilas-secundaria: #DFC8FE;

    --amarelo-principal: #ffdc04;
    --amarelo-secundario: #FFD25B;
    --amarelo-areia: #FFF3A9;
  }

body {
    font-family: 'DM Sans', sans-serif;
  }

span{
    font-family: 'DM Serif Display', sans-serif;
    font-style: italic;
    font-weight: 400;
  }

.container{
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  height: 70vh;
  top: 936px ;
}

.title, .descricao {
  flex: 1;
  text-align: center;
}
.title{
  font-size: 48px;
  line-height: 63.13px;
  font-weight: 600;
  word-wrap: break-word;
  overflow-wrap: break-word;
} 
.descricao {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 7.5%;
  word-wrap: break-word;
  overflow-wrap: break-word;

}
.amarelo{
    color: var(--amarelo-principal);
}

.roxo{
    color: var(--roxo-principal);
}
